.listItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.listItem__columnOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.listItem__columnOne a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
.listItem__columnTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.listItem__columnTwo a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.listItem__columnThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.listItem__columnThree a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px) { 
  .listItem{
   display: flex;
   flex-direction: column;
   height: auto;
  }
  
 }